@import "variables.scss";

.login-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    width: 35%;
  }

  section.login {
    padding: 10px;
    font-size: medium;
    border: 2px solid $primary-color;
    text-align: center;
    height: auto;

    .submit-button {
      height: auto;
      padding: 5px;
    }

  }

  section.component {
    text-align: center;
    height: auto;
  }

}


