@import "variables.scss";

*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body
{
    background: #444444;

    color: #cccccc;
    font-size: 14px;
    /* Helvetica/Arial-based sans serif stack */
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.flexbox-parent
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch;
}

.flexbox-item
{
    padding: 0px;
}
.flexbox-item-grow
{
    flex-grow: 1; /* same as flex: 1 1 auto; */
}

.flexbox-item.header
{
}
.flexbox-item.footer
{

}
.flexbox-item.content
{
}
.fill-area
{
    display: flex;
    flex-direction: row;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

}
.fill-area-content
{
    border: 1px solid #000000;

    /* Needed for when the area gets squished too far and there is content that can't be displayed */
    overflow: auto;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;

  .row {
    width: 100%;
    margin: 0;
  }

  section.header {
    width: 100%;
    padding: 10px;
    font-size: medium;
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;

    img {
      margin: 20px;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      cursor: pointer;
    }

    .logout-link{
      a {
        color: white;
        float: right;
        margin-right: 30px;
        font-size: 22px;
      }
    }
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  .alert {
    color: red;
  }

}
.input-tag-container {
    select-string-component {
      select {
        height: 30px;
        width: auto;
        min-width: 300px;
        background: white;
      }
  }

  section.input-tag {
  width: 930px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-size: 13px;

  button.new-tag {
    background-color: $primary-color;
    border: none;
    border-radius: 5%;
    font-size: 14px;
    color: white;
    width: 215px;
    margin-left: 10px;
    height: 34px;
    cursor: pointer;
  }

  button.cancel-tag {
    background-color: red;
    border: none;
    border-radius: 5%;
    font-size: 14px;
    color: white;
    width: 100px;
    margin-left: 10px;
    height: 34px;
    cursor: pointer;
  }


  button.input-submit {
    background-color: $primary-color;
    border: none;
    border-radius: 5%;
    font-size: 16px;
    color: white;
    width: 300px;;
    margin-left: 10px;
  }
    .submit-column {
      flex: 1;
      font-size: 13px;
      text-align: right;
      margin-top: 5px;
    }

  }
}

.select-container {

    // section.select-date {
    //   width: 700px;;
    //   display: flex;
    //   flex-direction: row;
    //   margin: 0 auto;

      // .first-column {
      //   margin: 10px;
      //   width: 200px;
      // }
    //   .second-column {
    //     margin: 10px;
    //     button.date-button {
    //       background-color: #2CACD9;
    //       border: none;
    //       border-radius: 5%;
    //       font-size: 14px;
    //       color: white;
    //       width: 300px;
    //       margin-left: 10px;
    //       height: 34px;
    //       cursor: pointer;
    //     }
    //   }

    // }


  section.select {
    width: 700px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .first-column {
      margin: 10px;
    }

    .column {
      flex: 1 1 auto;
      margin: 10px;

    }

    .creative-date-column {
      width: 200px;
      margin: 10px;
    }

    .action-column {
      margin-left: 175px;

      .btn.btn-primary.action {
        background-color: $primary-color;
        margin: 3px 15px 3px 15px;
        font-size: 15px;
        border-radius: 4px;
        border-color: $primary-color;

        &:active {
          background-color:$primary-color;
          box-shadow: 0 5px white;
          transform: translateY(4px);
        }
      }
    }

    .second-column {
      margin: 10px;
    }

    .campaign-type-column, .inv-type-column {
      margin: 10px;
      width: 190px;
    }

    .custom-column {
      margin-left: 10px;
      margin-top: 8px;
      input#customCampaign, input#customPackage, input#customAd, input#customTentpole, input#creativeCustom {
        font-size: 16px;
        border: 1px solid lightgrey;
        border-radius: 5%;
        padding: 5px;
        width: 170px;
      }
    }

    .year-column {
      margin: 10px;

      select.form-control {
        width: 190px;
      }

    }

  }

}

.request-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  section.request {
    padding: 10px;
    font-size: medium;
    height: auto;

    p.required {
      color: red;
      font-size: 12px;
    }

    input, select {
      margin-bottom: 10px;
      height: 30px;
      background: white;
      width: 400px;
    }

    input#request-submit {
      margin: 20px;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 5%;
      width: 100px;
    }
  }

}

.login-container {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;


  section.login {
    padding: 10px;
    font-size: medium;
    text-align: center;
    height: auto;

    .field {
      margin: 20px;

    }
      input {
        height: 25px;
        font-size: 20px;
        border: 2px solid $primary-color;
        border-radius: 5%;
        padding: 20px;
      }

      form#new_user.new_user {

        select#user_agency_id {
          height: 40px;
          font-size: 18px;
          border: 2px solid #2CACD9;
          border-radius: 5%;
          padding: 20px;
          background: white;
          margin-bottom: 10px;
        }

      }

      .login-button {
        color: white;
        width: 258px;
        background-color: $primary-color;
        height: 40px;
        padding: 0;
        margin-bottom: 6px;
      }

  }

  section.component {
    height: auto;
  }

}


.tree-container {
  margin-top: 20px;
  width: 100%;

  section.tree {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    overflow: auto;
    overflow-x: hidden;
    border-color: lightblue;
    border-style: solid;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: -5px;
    }

    li {
      text-align: left;
      font-size: 15px;
      // margin-bottom: -5px;
      width: 50%;

      .expand-children, .collapse-children {
        font-size: 22px;
        cursor: pointer;
        margin: 5px;
      }

      .no-children {
        font-size: 22px;
        margin: 14px;
      }

      .namestring {
        cursor: pointer;
      }

      .collapse-children {
        display: none;
      }

      .parent-type {
        text-transform: capitalize;
        cursor: pointer;
      }

    }

    li.Package {
      margin-left: 20px;
      display: none;
    }

    li.Placement {
      margin-left: 40px;
      display: none;
      width: 90%;
    }

    li.Ad {
      margin-left: 60px;
      display: none;
    }

    li.Creative {
      margin-left: 100px;
      display: none;
      margin-top: 9px;
      margin-bottom: 5px;
      width: 60%;
    }

  }

}

h2.campaign-title {
  text-align: left;
  font-size: 20px;
  color: $primary-color;
}

p.final-string {
  width: 800px;
  text-align: left;
}

button.export {
  background-color: $primary-color;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  color: white;
  width: 125px;
  height: 25px;
  cursor: pointer;
  float: right;
  margin-right: 18px;
}

button.new {
  background-color: $primary-color;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  color: white;
  width: 70px;
  height: 25px;
  cursor: pointer;
  margin: 20px;
}

button.duplicate {
  background-color: $primary-color;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  color: white;
  width: 70px;
  margin-left: 10px;
  height: 25px;
  cursor: pointer;
}

.btn-group.actions {
  float: left;

  .btn.btn-primary.action {
    background-color: $primary-color;
    margin: 3px;
    font-size: 15px;
    border-radius: 4px;
    border-color: $primary-color;

    &:active {
      background-color:$primary-color;
      box-shadow: 0 5px white;
      transform: translateY(4px);
    }
  }

}

.search {
  input#search {
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 400px;

  }
}

.modal-dialog{
  .modal-content.campaign {
    width: 745px;
  }
  .modal-content.ad {
    width: 500px;
  }
  .modal-content.delete {
    width: 400px;
  }
  .modal-footer.delete {
    text-align: center;
  }
  .btn.btn-primary.action {
    background-color: $primary-color;
    margin: 3px 15px 3px 15px;
    font-size: 15px;
    border-radius: 4px;
    border-color: $primary-color;
  }

}
