@import "variables.scss";

*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    background: #444444;
    color: #cccccc;
    font-size: 14px;
    /* Helvetica/Arial-based sans serif stack */
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flexbox-parent
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch;
}

.flexbox-item
{
    padding: 0px;
}
.flexbox-item-grow
{
    flex-grow: 1; /* same as flex: 1 1 auto; */
}

.flexbox-item.header
{
}
.flexbox-item.footer
{

}
.flexbox-item.content
{
}
.fill-area
{
    display: flex;
    flex-direction: row;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

}
.fill-area-content
{
    border: 1px solid #000000;

    /* Needed for when the area gets squished too far and there is content that can't be displayed */
    overflow: auto;
}

.header-container {
  width: 100%;
	min-width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0;
	height: 40px;

	.row {
	  font-size: medium;
	  background-color: $primary-color;
	  color: #fff;
		margin: 0;

		img {
			float: left;
		}

	  a {
	    text-decoration: none;
	    color: white;
			margin: 0 30px 2px 0;
			font-size: 22px;
			line-height: 40px;
	    cursor: pointer;
	  }

		a.home-link {
			margin-left: 10px;
			float: left;
		}

	  .logout-link{
	    a {
	      float: right;
	    }
	  }
	}

  p {
    font-size: 20px;
  }

}

.alert {
  font-size: 14px;
  color: red;
	text-align: center;
}

.notice {
  font-size: 14px;
	text-align: center;
}

.input-tag-container {
    select-string-component {
      select {
        height: 30px;
        width: auto;
        min-width: 300px;
        background: white;
      }
  }

  section.input-tag {
  width: 930px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-size: 13px;

  button.new-tag {
    background-color: $primary-color;
    border: none;
    border-radius: 5%;
    font-size: 14px;
    color: white;
    width: 215px;
    margin-left: 10px;
    height: 34px;
    cursor: pointer;
  }

  button.cancel-tag {
    background-color: red;
    border: none;
    border-radius: 5%;
    font-size: 14px;
    color: white;
    width: 100px;
    margin-left: 10px;
    height: 34px;
    cursor: pointer;
  }


  button.input-submit {
    background-color: $primary-color;
    border: none;
    border-radius: 5%;
    font-size: 16px;
    color: white;
    width: 300px;;
    margin-left: 10px;
  }
  .submit-column {
    flex: 1;
    font-size: 13px;
    text-align: right;
    margin-top: 5px;
  }

  }
}

.select-container {

  section.select {
    width: 700px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .first-column {
      margin: 10px;
    }

    .column {
      flex: 1 1 auto;
      margin: 10px;

    }

    .creative-date-column {
      width: 200px;
      margin: 10px;
    }

    .action-column {
      margin-left: 175px;

      .btn.btn-primary.action {
        background-color: $primary-color;
        margin: 3px 15px 3px 15px;
        font-size: 15px;
        border-radius: 4px;
        border-color: $primary-color;

        &:active {
          background-color:$primary-color;
          box-shadow: 0 5px white;
          transform: translateY(4px);
        }
      }
    }

    .second-column {
      margin: 10px;
    }

    .campaign-type-column, .inv-type-column {
      margin: 10px;
      width: 190px;
    }

    .custom-column {
      margin-left: 10px;
      margin-top: 8px;
      input#customCampaign, input#customPackage, input#customAd, input#customTentpole, input#creativeCustom {
        font-size: 16px;
        border: 1px solid lightgrey;
        border-radius: 5%;
        padding: 5px;
        width: 170px;
      }
    }

    .year-column {
      margin: 10px;

      select.form-control {
        width: 190px;
      }

    }

  }

}

.request-container {
  .request {
		width: 625px;
		margin: auto;
    padding: 10px;
    font-size: medium;

		a.top {
			float: right;
		}

		a.cancel {
			float: left;
		}
		dl {
	    padding: 0.5em;
	  }
	  dt {
	    float: left;
	    clear: left;
			margin-right: 10px;
	    width: 275px;
	    text-align: right;
	    font-weight: bold;
	  }
	  dt::after {
	    content: ":";
	  }
	  dd {
	    padding: 0 0 0.5em 0;
	  }

    p.required {
      color: red;
      font-size: 12px;
    }

		label {
			margin: 15px 0 5px 0;
		}

    input, select {
			margin: 0;
			padding: 0;
			display: block;
      background: white;
      width: 400px;
    }


    input#request-submit {
      margin: 20px;
			float: right;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 5%;
      width: 100px;
    }
  }
}

// This is the container for the requests index
.requests-container {
	margin: 0 50px;
	min-width: 1200px;

  section.request, .edit {
    margin-left: 200px;
  }
  section.requests-table {
    table {
			width: 100%;
    }
    td, th {
      padding: 10px;
      text-align: center;
    }
    tr:nth-of-type(odd) {
      background-color:#eee;
    }
		min-width: 1200px;
  }

  section.filter {
		width: 500px;
		margin: 0 0 10px 0;
		float: left;
  }

	.link {
		margin-top: 10px;
		font-size: 18px;
		float: right;
	}

  form {
    margin-top: 8px;
    .filter-option {
      margin-right: 10px;
    }
    .new-request {
      a {
        margin-left: 600px;
        font-size: 18px;
      }
    }
    input.btn.btn-default {
      margin-left: 10px;
      background-color: $primary-color;
      color: white;
    }
  }
}

.login-container {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;

  section.login {
    padding: 10px;
    font-size: medium;
    text-align: center;
    height: auto;

    .field {
      margin: 20px;
    }
    input {
      height: 25px;
			width: 400px;
      font-size: 20px;
      border: 2px solid $primary-color;
      border-radius: 5%;
      padding: 20px;
    }

    form#new_user.new_user {

      select#user_agency_id {
        height: 40px;
        font-size: 18px;
        border: 2px solid #2CACD9;
        border-radius: 5%;
        padding: 20px;
        background: white;
        margin-bottom: 10px;
      }
    }
    .login-button {
      color: white;
      width: 300px;
      background-color: $primary-color;
      height: 40px;
      padding: 0;
      margin-bottom: 6px;
    }
  }

  section.component {
    height: auto;
  }
}


.tree-container {
  margin-top: 20px;
  width: 100%;
	min-width: 1200px;

  section.tree {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    overflow: auto;
    overflow-x: hidden;
    border-color: lightblue;
    border-style: solid;

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }

    li {
      text-align: left;
      font-size: 15px;
      width: 50%;
      height: 35px;

			span {
				vertical-align: middle;
			}

      .expand-children, .collapse-children {
        font-size: 15px;
        cursor: pointer;
      }

      .no-children {
        font-size: 15px;
        margin: 0px 0px 0px 18px;
      }

      .namestring {
        cursor: pointer;
      }

      .collapse-children {
        display: none;
      }

      .parent-type {
        text-transform: capitalize;
        cursor: pointer;
      }

      .clipboard {
        visibility: hidden;
        cursor: pointer;
        margin-left: 5px;

        :active {
          transform: translateY(4px);
        }
      }
    }

    li.Package {
      margin-left: 20px;
      display: none;
    }

    li.Placement {
      margin-left: 40px;
      display: none;
      width: 90%;
    }

    li.Ad {
      margin-left: 60px;
      display: none;
    }

    li.Creative {
      margin-left: 100px;
      display: none;
      width: 60%;
			span {
				vertical-align: middle;
			}
    }
  }
}

h2.campaign-title {
  text-align: left;
  font-size: 20px;
  color: $primary-color;
}

p.final-string {
  width: 800px;
  text-align: left;
}

button.export {
  background-color: $primary-color;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  color: white;
  width: 125px;
  height: 25px;
  cursor: pointer;
  float: right;
  margin-right: 18px;
}

button.new {
  background-color: $primary-color;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  color: white;
  width: 70px;
  height: 25px;
  cursor: pointer;
  margin: 20px;
}

button.duplicate {
  background-color: $primary-color;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  color: white;
  width: 70px;
  margin-left: 10px;
  height: 25px;
  cursor: pointer;
}

.btn-group.actions {
  float: left;
	min-width: 1000px;

  .btn.btn-primary.action {
    background-color: $primary-color;
    margin: 3px;
    font-size: 15px;
    border-radius: 4px;
    border-color: $primary-color;

    &:active {
      background-color:$primary-color;
      box-shadow: 0 5px white;
      transform: translateY(4px);
    }
  }
}

.search {
  input#search {
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 400px;
  }
}

.modal-dialog{
  .modal-content.campaign {
    width: 745px;
  }
  .modal-content.ad {
    width: 500px;
  }
  .modal-content.delete {
    width: 400px;
  }
  .modal-footer.delete {
    text-align: center;
  }
  .btn.btn-primary.action {
    background-color: $primary-color;
    margin: 3px 15px 3px 15px;
    font-size: 15px;
    border-radius: 4px;
    border-color: $primary-color;
  }
}

.navigation {
  background-color: $primary-color;
  a {
    margin: 0 0 0 20px;
    color: white;
  }
}

#app-container {
  max-width: 100%;
  min-width: 1200px;
	background-color: $primary-color;
}
