@import "variables.scss";

.header-container {
  width: 100%;
  display: flex;
  margin: 0;
  
  .row {
    width: 100%;
    margin: 0;
  }

  section.header {
    padding: 10px;
    font-size: medium;
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;

    img {
      margin: 20px;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }

    .logout-link{
      a {
        color: white;
        float: right;
        margin-right: 30px;
        font-size: 22px;
      }
    }
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  .alert {
    color: red;
  }

}
.input-tag-container {
    select-string-component {
      select {
        height: 30px;
        width: auto;
        min-width: 300px;
        background: white;
      }
  }

  section.input-tag {
  width: 900px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-size: 13px;

  button.new-tag {
    background-color: $primary-color;
    border: none;
    border-radius: 5%;
    font-size: 14px;
    color: white;
    width: 300px;
    margin-left: 10px;
    height: 34px;
    cursor: pointer;
  }

  button.cancel-tag {
    background-color: red;
    border: none;
    border-radius: 5%;
    font-size: 14px;
    color: white;
    width: 300px;
    margin-left: 10px;
    height: 34px;
    cursor: pointer;
  }


  button.input-submit {
    background-color: $primary-color;
    border: none;
    border-radius: 5%;
    font-size: 16px;
    color: white;
    width: 300px;;
    margin-left: 10px;
  }
    .submit-column {
      flex: 1;
      font-size: 13px;
      text-align: right;
      margin-top: 5px;
    }

  }
}

.select-container {

  section.select {
    width: 700px;;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .first-column {
      margin: 10px;
    }

    .column {
      flex: 1 1 auto;
      margin: 10px;

    }

    .second-column {
      margin: 10px;
    }

    .campaign-type-column, .inv-type-column {
      margin: 10px;
      width: 190px;
    }

    .custom-column {
      margin-left: 10px;
      margin-top: 8px;
      input#customCampaign, input#customPackage, input#customAd, input#customTentpole, input#creativeCustom {
        font-size: 16px;
        border: 1px solid lightgrey;
        border-radius: 5%;
        padding: 5px;
        width: 170px;
      }
    }

    .year-column {
      margin: 10px;

     select.form-control {
       width: 190px;
     }

    }

  }

}

.login-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  section.login {
    padding: 10px;
    font-size: medium;
    text-align: center;
    height: auto;

    .field {
      margin: 20px;
      
    }
      input {
        height: 25px;
        font-size: 20px;
        border: 2px solid $primary-color;
        border-radius: 5%;
        padding: 20px;
      }

      .login-button {
        color: white;
        width: 258px;
        background-color: $primary-color;
        height: 40px;
        padding: 0;
        margin-bottom: 6px;
      }

  }

  section.component {
    height: auto;
  }

}

h2.campaign-title {
  text-align: left;
  font-size: 20px;
  color: $primary-color;
}

p.final-string {
  width: 800px;
  text-align: left;
}

button.export {
  background-color: $primary-color;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  color: white;
  width: 100px;
  margin: 20px;
  height: 34px;
  cursor: pointer;
}

button.duplicate {
  background-color: $primary-color;
  border: none;
  border-radius: 5%;
  font-size: 14px;
  color: white;
  width: 70px;
  margin-left: 10px;
  height: 25px;
  cursor: pointer;
}
